extends layout

block content
   div(class="col mx-md-5 my-5")
      h1 #{title}

      form(method='POST' action='')
         div.form-group
            label(for='name') Typ urządzenia:
            input#name.form-control(type='text', placehoder='Robot, Grawer etc...' name='name', value=(undefined===devicetype ? '' : devicetype.name))
         button.btn.btn-primary(type='submit') Zapisz

      if errors
         ul
            for error in errors
               li!=error.msg