doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/api/raport') Home
              li
                a(href='/api/raport/create', target='_blank') Nowy Raport
              li
                a(href='/api/search') Wyszukiwanie
              hr
              li
                a(href='/api/plan')  Prace Planowane
              li
                a(href='/api/device') Urządzenia
              li
                a(href='/api/devicetype') Typy urządzeń
              li
                a(href='/api/line') Linie
              li
                a(href='/api/user') Pracownicy
              hr
              li
                a(href='/api/plan/create') Dodaj Prace Planowane
              li
                a(href='/api/device/create') Dodaj Urządzenie
              li
                a(href='/api/devicetype/create') Dodaj Typ urządzenia
              li
                a(href='/api/line/create') Dodaj Linię
              li
                a(href='/api/user/create') Dodaj Pracownika
            

        div(class='col-sm-10')
          block content