extends layout

block content
   div(class="col mx-md-5 my-5")
      h1 #{title}
      p.h4.pt-3 Nazwa: #{line.name}

      a.btn.btn-primary.my-5.mr-2(href=line.url + '/delete') Usuń 
      a.btn.btn-primary.my-5(href=line.url+'/update') Zmodyfikuj 

  
  
