extends layout

block content

   h1 #{title}

   form(method='POST' action='')
      div.form-group
         label(for='name') Nazwa linii:
         input#name.form-control(type='text', placehoder='ASS1, ASS2 etc.' name='name', value=(undefined===line ? '' : line.name))
      button.btn.btn-primary(type='submit') Submit

   if errors
      ul
         for error in errors
            li!=error.msg