extends layout

block content
   div(class="col my-5")
      h1.text-center.mb-5= title

      table.table.table-bordered.table-striped.table-hover.dark-header-hover
         thead.table-dark
            tr
               th.text-center Lista
         tbody
            each line in line_list
               tr
                  td.padding0
                     a.black-link(href=line.url) #{line.name}
            else
               li.list-group-item Brak linii.

   div(class="col-lg-2 my-5")
      a(href="/api/line/create") Utwórz Linię