extends navbar

block sidebar
  div(class='container-fluid')
    div(class='row')
      // navbar
      aside(class='col-sm-2 my-3 umfy-vertical-navbar' id="umfy-borderless-card")
        ul(class='nav flex-column')
          div(class="card bg-gestampblue") 
            div(class="card-body")
              a(class="btn btn-link text-left btn-block text-light" type="button" href="/api/raport/create") Raport
          div(class="card bg-gestampblue")
            div(class="card-body")
              a(class="btn btn-link text-left btn-block text-light" type="button" href="/api/plan") Prace planowane

          div(class="accordion" id="accordionExample")   
            div(class="card bg-gestampblue")
              div(class="card-header" id="headingOne")
                h2(class="mb-0")
                  button(class="btn btn-link btn-block text-left collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                    Collapsible Menedżer urządzeń
              div(id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample")
                div(class="card-body bg-light")
                  a(class="dropdown-item" href="/api/line") Linie produkcyjne
                  a(class="dropdown-item" href="/api/devicetype") Typy Urządzeń
                  a(class="dropdown-item" href="/api/device") Urządzenia


            div(class="card bg-gestampblue")
              div(class="card-header" id="headingTwo")
                h2(class="mb-0")
                  button(class="btn btn-link btn-block text-left collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                    Collapsible Zarządzanie zespołem
              div(id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample")
                div(class="card-body bg-light")
                  a(class="dropdown-item" href="/api/user") Pracownicy
                  a(class="dropdown-item" href="/api/user/team") Skład Zmiany
              
            div(class="card bg-gestampblue")
              div(class="card-header" id="headingThree")
                h2(class="mb-0")
                  button(class="btn btn-link btn-block text-left collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                    Collapsible Wyszukiwanie
              div(id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample")
                div(class="card-body bg-light")
                  a(class="dropdown-item" href="/api/search/raport") Raporty
                  a(class="dropdown-item" href="/api/search/breakdown") Awarie
  
      
      block content