extends layout

block content
   div(class="col mx-md-5 my-5")
      h1.text-center.mb-5 Lista Operacji

      a.btn.btn-primary.my-2(href="/api/operation/create") Utwórz Operację

      table.table.table-bordererd.table-striped.table-hover.dark-header-hover
         thead.table-dark
            tr
               th.text-center(scope='col' colspan='2') Lista
               
               
         tbody
            each operation in operation_list
                  tr
                     td.padding0(width="50%") 
                        a.black-link(href=operation.url) #{operation.line.name} 
                     td.padding0
                        a.black-link(href=operation.url) #{operation.name}

