extends layout

block content
   div(class="col mx-md-5 my-5")
      h1 #{title}: 
      p.h3.py-3 #{plan.date_created}

      p.h4.pb-5 #{plan.desc}

      p Czy na pewno chcesz usunąć ten plan?

      form(method='POST' action='')
         div.form-group
            input#planid.form-control(type='hidden',name='planid', required='true', value=plan._id )

         button.btn.btn-danger(type='submit') Usuń