extends layout

block content
  div(class="col-sm-6 py-4 text-body")
    h1=title

    ul 
        each raport in raport_list
          li
              a(href=raport.url) #{raport.date}
        else
          li Brak raportów do wyświetlenia.
  