extends layout

block content
  div(class='col')
    div(class='row')
      div(class="col-md-2") witaj świecie

      div(class="col-md-2") TEŻ WITAj

    div(class="row") RZĄD
      dic(class="col-md-2") PODRZĘDZEM@