extends layout

block content
   div(class="col mx-md-5 my-5")
      h1 #{title}

      form(method='POST' action='')
         div.form-group
            label(for='name') Imię:
            input#name.form-control(type='text', placehoder='Sam' name='name', value=(undefined===user ? '' : user.name))
            label(for='surname') Nazwisko:
            input#surname.form-control(type='text', placehoder='Sepiol' name='surname', value=(undefined===user ? '' : user.surname))
            label(for='email') Email:
            input#email.form-control(type='text', placehoder='samsepiol@mail.com' name='email', value=(undefined===user ? '' : user.email))
            label(for='phone') Numer telefonu:
            input#phone.form-control(type='text', placehoder='123 456 789' name='phone', value=(undefined===user ? '' : user.phone))
            label(for='spec') Specjalność:
            input#spec.form-control(type='text', placehoder='Robotyk' name='spec', value=(undefined===user ? '' : user.spec))

            div.my-1 Przywileje:
            div(class='form-check form-check-inline')
               input(class="form-check-input" type='checkbox', id='isTech', name='isTech', value=1, checked=false)
               label(class="form-check-label pr-4" for='isTech') Technik
            div(style='display: inline; padding-right:10px;')
               input(class="form-check-input" type='checkbox', id='isAdmin', name='isAdmin', value=1, checked=false)
               label(class="form-check-label" for='isAdmin') Administrator
         button.btn.btn-primary(type='submit') Zapisz

      if errors
         ul
            for error in errors
               li!=error.msg