extends layout

block content
   div(class="col-sm-7 my-5")
      h1= title

      ul 
         each user in user_list
            li
               a(href=user.url) #{user.fullname}
         else
            li There are no users.

   div(class="col-lg-2 py-5")
      a(href="/api/user/create") Dodaj Pracownika