body {
  font-family: 'Open Sans', sans-serif;
}

.bg-gestampblue {
  background-color: #01426a;
}
.card-body .dropdown-item {
  padding: 10px;
  padding-left: 20px;
}

.umfy-vertical-navbar {
  margin-right: 10px;
  min-width: 250px;
}
#umfy-borderless-card .card {
  border-radius: 0;
}
