body {
  font-family: 'Open Sans', sans-serif;
}

.bg-gestampblue {
  background-color: #01426a;
}
.card-body .dropdown-item {
  padding: 10px;
  padding-left: 20px;
}

.umfy-vertical-navbar {
  margin-right: 10px;
  min-width: 250px;
}
#umfy-borderless-card .card {
  border-radius: 0;
}
.table caption {
  caption-side: top;
  text-align: center;
}

.table-umfy td {
  padding: 0.2rem;
}
.table-umfy th {
  padding: 0.2rem;
}

.umfy-ghost-table {
  margin: 0px;
}
.umfy-table-separator {
  border-bottom: 2px solid rgb(200, 200, 200) !important;
}

.umfy-table-width100 {
  width: 100px;
}

.umfy-table-width400 {
  width: 12rem;
}
.umfy-btn {
  width: 70px;
}

input[type='time'] {
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.umfy-card-body {
  padding: 0px;
}

.umfy-clock {
  margin-top: 14px;
  margin-bottom: 145px;
}

.page {
  position: relative;
  overflow: hidden;
  padding: 0.3in;
  padding-right: 0.8in;
  padding-left: 0.8in;
  break-inside: avoid;
}

.gestamp-logo {
  width: 250px;
}
.umfy-right-margin200 {
  margin-top: 50px;
}
